.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #9c27b0, #8ecdff);
  flex-direction: column;
}


.row {
  flex: 1;
  display: flex;
  background-color: #000000
}
.page{
  flex: 10;
}

.title-of-page {
  flex: 6;
  color: #FFFFFF;
}
.link-1 {
  flex: 1;
  color: #FFFFFF;
}
.link-2 {
  flex: 1;
  color: #FFFFFF;
}
.link-3 {
  flex: 1;
  color: #FFFFFF;
}
.link-4 {
  flex: 1;
  color: #FFFFFF;
  

}
