
.main {
  width: 100%;
  height: 100vh;
  background-color: #FF5289;

}
.links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
}
.links > div {
  text-align: center;

  width: 100%;
  height: 100%;
  margin: 10px;
  font-family: monospace;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 10;
}
